# Week Assignment 8: Regular Expressions by Randy Leon

In [547]:
## importing the tools I need.
import numpy as np
import pandas as pd
import re as regex
from pandas import DataFrame

1. Extract the names of each individual from the unformatted text string and store them in a vector of some sort. When complete, your vector should contain the following entries:

In [548]:
#naming the database 'SimpsonNames' from the CSV file I made by copying and pasting the string from the HW assignment
filename = "/Users/RandyLeon/Desktop/REGEX_ASSIGNMENT.csv"
SimpsonNames = pd.read_csv(filename)

In [549]:
#sanity check
print(SimpsonNames);

Empty DataFrame
Columns: ["555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert" ]
Index: []

In [550]:
##found out how to convert csv to a string variable using this link: 
##https://stackoverflow.com/questions/40444821/convert-csv-to-a-string-variable
with open("/Users/RandyLeon/Desktop/REGEX_ASSIGNMENT.csv") as f:
    s = f.read()
print(repr(s))

'"""555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"" "'

Here I was successfully able to upload the text file and make it a string I can work with in the Jupyter environment

Below I took a piecewise approach with regex so as to not try and make one complicated string

In [551]:
#delete three digit area codes enclosed in a parentheses from my string
s = re.sub(r"(\(\d{3}\) ?)", "", s);  
print(s)

"""555-1239Moe Szyslak555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"" "

In [552]:
#delete hyphens leftover from phone numbers.
s = re.sub(r"(-)", "", s);
print(s)

"""5551239Moe Szyslak5550113Burns, C. Montgomery555 6542Rev. Timothy Lovejoy555 8904Ned Flanders6365553226Simpson, Homer5553642Dr. Julius Hibbert"" "

In [553]:
#delete all clusters of three digits
s = re.sub(r"(([0-9]{3}))", "", s);
print(s)

"""9Moe Szyslak3Burns, C. Montgomery 2Rev. Timothy Lovejoy 4Ned Flanders6Simpson, Homer2Dr. Julius Hibbert"" "

In [554]:
#delete all remaining digits
s = re.sub(r"(([0-9]{1}))", " ", s);
print(s)

""" Moe Szyslak Burns, C. Montgomery  Rev. Timothy Lovejoy  Ned Flanders Simpson, Homer Dr. Julius Hibbert"" "

2.Using your new vector containing only the names of the six individuals, complete the following tasks:

a) Use your regex skills to rearrange the vector so that all elements conform to the standard, "firstname lastname" convention, preserving any titles. (e.g. Dr. or Rev.) and/or middle or second names.

In [555]:
#turns out switching name orientation is a common task needed.
#found out how to switch names conveniently in regex from the following link:
#https://stackoverflow.com/questions/51644998/extracting-name-as-first-name-last-name-in-python
s=((re.sub(r"([a-z'-]+), ([a-z'-]+)", r'\2 \1', s, flags=re.IGNORECASE)))

In [574]:
#sanity check
print(s)

""" Moe Szyslak C Burns. Montgomery  Rev. Timothy Lovejoy  Ned Flanders Homer Simpson Dr. Julius Hibbert"" "

b) Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.)

In [575]:
#how to find all of the titles in the list. Made this regex assuming all titles are at least two letters long in length.
#(There is no one lettered title in the English language)
re.findall(r"(""[A-Z]{1}[a-z]{1,2}\.)",s)

['Rev.', 'Dr.']

I was able to find the only two titles in the string, Doctor and Reverend

c)Construct a logical vector indicating whether a character has a middle/second name.

The only one with a second/middle name is C Burns. Montgomery. I can make my regex specific to just finding him.

In [576]:
#This regex searches for a single capital letter, followed by a period, followed by a whitespace,
#followed by another capital letter, followed by a series of lowercase letters
#followed by another whitespace, followed by another capital letter
#finally followed by lowercase letters
re.findall(r"(""[A-Z]+\s+[A-Z]+[a-z]+\.*\s*[A-Z]*[a-z]+)",s)

['C Burns. Montgomery']

 3. Consider the HTML string "title>+++BREAKING NEWS+++<title". We would like to extract the first HTML tag (i.e.,
 “title”). To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

In [560]:
#made variable for string given in assignment
h = "<title>+++BREAKING NEWS+++<title>"

In [561]:
#sanity check
print(h)

<title>+++BREAKING NEWS+++<title>

In [562]:
#inputting out the convention given in the assignment
h = re.sub(r'[<.+>]', ' ', h)

In [563]:
#seeing what results
print(h)

 title    BREAKING NEWS    title

The previous regex code simply gets rid of all plus signs in our string and changes them to whitespace.

In [564]:
#making a new string to work a solution
h2 = "<title>+++BREAKING NEWS+++<title>"

In [565]:
#code to find only the first "<title>" from new string h2
#this link provided in the module helped me with this question:
#https://www.machinelearningplus.com/python/python-regex-tutorial-examples/
re.search('<\w{5}>?', h2).group()

'<title>'

This regex code now allowed me to return only the first instance of "< title >" 
This is also known as "lazy matching".

4. Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract the
 formula in the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

In [566]:
#made variable to hold string 
Bi = "(5-3)^2=5^2-2*5*3+3^2"

In [567]:
#seeing what the given code returns
re.search('[^0-9=+*()]+', Bi).group()

'-'

All that regex appeared to do was match the minus sign from our string of numbers

In [568]:
#replacing 5's with a's.
Bi = re.sub(r"5", "a", Bi)

In [569]:
#replacing 3's with b's.
Bi = re.sub(r"3", "b", Bi)

In [570]:
print(Bi)

(a-b)^2=a^2-2*a*b+b^2

The above technically is the binomial theorem, but let's see if we can clean it up by deleting asterisks since they aren't necessary.

In [571]:
#replacing asterisks with no space
Bi = (Bi.replace('*', ''))

In [572]:
#sanity check
print(Bi)

(a-b)^2=a^2-2ab+b^2

The above is the binomial theorem.