Get assignment started by importing numpy as np

In [332]:
import numpy as np

Task one:
Write a Python/NumPy code block that finds the distinct between these two arrays

a = np.array[(1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array[(7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

Your output should contain only the distinct overlapping values. For example, if a 2 is found in both array a and b, your output should only contain one 2 even if array a contains more than one 2 in it.

In [343]:
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])

TypeError: 'list' object is not callable

In [344]:
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

TypeError: 'list' object is not callable

In [338]:
a
'''sanity check for array a'''

'sanity check for array a'

In [337]:
b
'''sanity check for array b'''

'sanity check for array b'

In [58]:
###Here comes the code

In [346]:
from array import *
array_num = array('i', [1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
print("array is now a list called a_list: ")
a_list = array_num.tolist()

print(a_list)

'''found out how to turn an array into a list from this link'''
'''https://www.w3resource.com/python-exercises/array/python-array-exercise-13.php 
is how I found out how to turn array into a workable list'''

array is now a list called a_list:
[1, 2, 3, 2, 3, 4, 3, 4, 5, 6]

'https://www.w3resource.com/python-exercises/array/python-array-exercise-13.php \nis how I found out how to turn array into a workable list'

In [61]:
from array import *
array_num_2 = array('i', [7, 2, 10, 2, 7, 4, 9, 4, 9, 8])
print("array is now a list called b_list: ")
b_list = array_num_2.tolist()

print(b_list)

'''duplicated this action for the second array'''

array is now a list called b_list:
[7, 2, 10, 2, 7, 4, 9, 4, 9, 8]

'duplicated this action for the second array'

In [62]:
print(a_list)
print(b_list)

'''sanity check'''

[1, 2, 3, 2, 3, 4, 3, 4, 5, 6]
[7, 2, 10, 2, 7, 4, 9, 4, 9, 8]

'sanity check'

In [63]:
c = set(a_list) & set(b_list)
print(c)

'''found the unique values of both arrays!'''

{2, 4}

'found the unique values of both arrays!'

Task Two:
Create the following 5*3 array using knowledge you have of Python's/NumPy's sequencing functionality so that you do not need to explicitly key in every intger value

In [324]:
c = np.arange(start = 1, stop = 16, step = 1).reshape((3,5))

'''name a new array using .arange function
    start at 1
    stop at 15
    use 1 as the step between objects
    reshape the array to be a 5*3'''

'name a new array using .arange function\n    start at 1\n    stop at 15\n    use 1 as the step between objects\n    reshape the array to be a 5*3'

In [325]:
c

###testing my array to see if it works

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [326]:
c.T

##all I needed to do was switch columns for rows and vice versa using .T!###

array([[ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14],
       [ 5, 10, 15]])

Task Three: You are given the following two arrays
d = np.array([12, 5, 7, 15, 3, 1, 8])
e = np.array([14, 6, 3, 11, 19, 12, 5]) 

Write a Python/NumPy that removes from array d any items that are also present in array e

In [94]:
d = np.array([12, 5, 7, 15, 3, 1, 8])
e = np.array([14, 6, 3, 11, 19, 12, 5])

In [101]:
from array import *
array_num_3 = array('i',[12, 5, 7, 15, 3, 1, 8] )
print("array is now a list called d_list: ")
d_list = array_num_3.tolist()

print(d_list)

'''using same method from task 1 to turn first array into list for task 3'''

array is now a list called d_list:
[12, 5, 7, 15, 3, 1, 8]

'using same method from task 1 to turn first array into list for task 3'

In [100]:
from array import *
array_num_4 = array('i', [14, 6, 3, 11, 19, 12, 5] )
print("array is now a list called d_list: ")
e_list = array_num_4.tolist()

print(e_list)

'''using same method from task 1 to turn second array into list for task 3'''

array is now a list called d_list:
[14, 6, 3, 11, 19, 12, 5]

'using same method from task 1 to turn second array into list for task 3'

In [110]:
array_f = [x for x in d_list if x not in e_list]
print(f)

'''used a list comprehension to make the desired array'''

[7, 15, 1, 8]

'used a list comprehension to make the desired array'

In [113]:
f
#testing to see if my result was an array

[7, 15, 1, 8]

Task Four:
Suppose you have ridden a bicycle from New York City to Key West, Florida. Your bicycle odometer shows the total miles you have travelled thus far, which you make a note of each day with paper and pencil. Your first two entries might be ‘55’ and ‘120’, indicating that you rode your bike 55 miles on day 1 and 65 miles on day 2. Your task is to create a NumPy array wherein you can record the cumulative miles you recorded each day during your trip. Then use your Python skills to show the total miles that you rode each day. Assume the trip took a total of 35 days and included at least 4 non-consecutive days where no cycling was possible due to either weather conditions or personal fatigue/soreness. For the remaining 31 days, you would have covered the entire distance between NYC and Key West. Complete your work within your Jupyter Notebook for this assignment and be sure to include a writeup explaining your approach to this problem, including the ways in which you decided to make use of NumPy.

In [160]:
'''***it is 1,547 miles between NYC, NY and Key West, FL***'''

'***it is 1,547 miles between NYC, NY and Key West, FL***'

In [219]:
bike_log=np.array =  [0] * 35

'''made array that has 35 zero values to fill in with miles biked later'''

'made array that has 35 zero values to fill in with miles biked later'

In [220]:
bike_log

##sanity check, now this is a list that I can take advantage of because it is mutable##

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [221]:
list(bike_log)
##sanity check

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [211]:
type(bike_log)

##making sure that "bike_log" is indeed a list##

list

In [222]:
r = 50
a = 30
n = 20
d = 1
y = 0

'''just naming some variables, I either want to bike fifty, thirty, twenty, one, or zero miles in a day'''

'just naming some variables, I either want to bike fifty, thirty, twenty, one, or zero miles in a day'

In [228]:
bike_log[0] = r

###with this I'm basically saying that on the first day of my trip, I traveled fifty miles

In [227]:
print(bike_log)

##testing to see if my element replacement system works###

[50, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [233]:
bike_log[1] = r

#testing method

In [285]:
print(bike_log)

#sanity check

[50, 1, 1, 3, 0, 1, 0, 11.0, 0, 1, 1, 1, 1, 30, 0, 1, 900, 50, 1, 1, 1, 50, 50, 50, 50, 50, 50, 20, 50, 30, 20, 50, 20, 1, 1]

In [286]:
bike_log[1] = d
bike_log[2] = d
bike_log[3] = d+d+d
bike_log[4] = y
bike_log[5] = d
bike_log[6] = y
bike_log[7] = (n/2)+d
bike_log[8] = y
bike_log[9] = d
bike_log[10] = d
bike_log[11] = d
bike_log[12] = d
bike_log[13] = a
bike_log[14] = y
bike_log[15] = d
bike_log[16] = a*a
bike_log[17] = r
bike_log[18] = d
bike_log[19] = d
bike_log[20] = d
bike_log[21] = r
bike_log[22] = r
bike_log[23] = r
bike_log[24] = r
bike_log[25] = r
bike_log[26] = r
bike_log[27] = n
bike_log[28] = r
bike_log[29] = a
bike_log[30] = n
bike_log[31] = r
bike_log[32] = n
bike_log[33] = d
bike_log[34] = d

##guess who had fun with all of these variables

In [287]:
sum(bike_log)

#testing if I made it to Key West on my bike according to my odometer

1547.0

In [289]:
print(bike_log)

#lol one day I traveled 900 miles via bike#

[50, 1, 1, 3, 0, 1, 0, 11.0, 0, 1, 1, 1, 1, 30, 0, 1, 900, 50, 1, 1, 1, 50, 50, 50, 50, 50, 50, 20, 50, 30, 20, 50, 20, 1, 1]

In [290]:
bike_log_array = (bike_log)

In [291]:
bike_log_array

#here is my array of miles I travelled every day for 35 days##

[50,
 1,
 1,
 3,
 0,
 1,
 0,
 11.0,
 0,
 1,
 1,
 1,
 1,
 30,
 0,
 1,
 900,
 50,
 1,
 1,
 1,
 50,
 50,
 50,
 50,
 50,
 50,
 20,
 50,
 30,
 20,
 50,
 20,
 1,
 1]

Task Five:

Open the Jupyter Notebook provided to you with this assignment. The first code block within that file will load a small data set from a GitHub repository into a NumPy 2D array. The original source of that data contains an overview of its contents:
https://data.cityofnewyork.us/Environment/Water-Consumption-In-The-New-York-City/ia2d-e54m


Scroll down to the bottom of that page to access an interactive data viewer that includes the column headings for the data.
Using the NumPy array that has been loaded for you in the Jupyter Notebook, answer the following questions using NumPy’s slicing, methods, and functions:


 What is the maximum yearly NYC consumption of water in millions of gallons per day?

 How many calendar years are represented within this data set? NumPy's shape command is one way to find out.

 What is the mean and the standard deviation of the per capita daily water consumption?

 What is the increase or decrease in population from year to year? Use NumPy's `diff` function to create an array of differences and save that to a variable called "pop_diff", then print that variable to the screen.

In [3]:
import pandas as pd
import numpy as np

# supress scientific notation
np.set_printoptions(suppress = True)

# read the data file from GitHub and convert to a NumPy ndarray object
nyc_water = pd.read_csv('https://raw.githubusercontent.com/jtopor/DAV-5400/master/Week4/Water_Consumption_In_The_New_York_City.csv').as_matrix()

# verify you have an ndarray object
type(nyc_water)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

numpy.ndarray

what is the maximum yearly NYC consumption of water in millions of gallons per day?

In [4]:
print(nyc_water)

#wanted to see what the data looked like!###

[[   1979.  7102100.     1512.      213. ]
 [   1980.  7071639.     1506.      213. ]
 [   1981.  7089241.     1309.      185. ]
 [   1982.  7109105.     1382.      194. ]
 [   1983.  7181224.     1424.      198. ]
 [   1984.  7234514.     1465.      203. ]
 [   1985.  7274054.     1326.      182. ]
 [   1986.  7319246.     1351.      185. ]
 [   1987.  7342476.     1447.      197. ]
 [   1988.  7353719.     1484.      202. ]
 [   1989.  7344175.     1402.      191. ]
 [   1990.  7335650.     1424.      194. ]
 [   1991.  7374501.     1469.      199. ]
 [   1992.  7428944.     1369.      184. ]
 [   1993.  7506166.     1368.5     182. ]
 [   1994.  7570458.     1357.7     179. ]
 [   1995.  7633040.     1325.7     174. ]
 [   1996.  7697812.     1297.9     169. ]
 [   1997.  7773443.     1205.5     155. ]
 [   1998.  7858259.     1219.5     155. ]
 [   1999.  7947660.     1237.2     156. ]
 [   2000.  8008278.     1240.4     155. ]
 [   2001.  8024963.5    1184.      148. ]
 [   2002.  8041649.     1135.6     141. ]
 [   2003.  8058334.5    1093.7     136. ]
 [   2004.  8075020.     1099.5     136. ]
 [   2005.  8091705.5    1138.      141. ]
 [   2006.  8108391.     1069.      132. ]
 [   2007.  8125076.5    1114.      137. ]
 [   2008.  8141762.     1098.      135. ]
 [   2009.  8158447.5    1007.5     123. ]
 [   2010.  8175133.     1039.      127. ]
 [   2011.  8284098.     1021.      123. ]
 [   2012.  8361179.     1009.1     121. ]
 [   2013.  8422460.     1006.1     119. ]
 [   2014.  8471990.      996.      118. ]
 [   2015.  8516502.     1009.      118. ]
 [   2016.  8537673.     1002.      117. ]
 [   2017.  8622698.      990.2     115. ]]

In [5]:
df1 = pd.read_csv("https://raw.githubusercontent.com/jtopor/DAV-5400/master/Week4/Water_Consumption_In_The_New_York_City.csv")

In [6]:
df1

##wanted to make the data look nicer!

,Year,New York City Population,NYC Consumption(Million gallons per day),Per Capita(Gallons per person per day)
0,1979,7102100.0,1512.0,213
1,1980,7071639.0,1506.0,213
2,1981,7089241.0,1309.0,185
3,1982,7109105.0,1382.0,194
4,1983,7181224.0,1424.0,198
5,1984,7234514.0,1465.0,203
6,1985,7274054.0,1326.0,182
7,1986,7319246.0,1351.0,185
8,1987,7342476.0,1447.0,197
9,1988,7353719.0,1484.0,202
10,1989,7344175.0,1402.0,191
11,1990,7335650.0,1424.0,194
12,1991,7374501.0,1469.0,199
13,1992,7428944.0,1369.0,184
14,1993,7506166.0,1368.5,182
15,1994,7570458.0,1357.7,179
16,1995,7633040.0,1325.7,174
17,1996,7697812.0,1297.9,169
18,1997,7773443.0,1205.5,155
19,1998,7858259.0,1219.5,155
20,1999,7947660.0,1237.2,156
21,2000,8008278.0,1240.4,155
22,2001,8024963.5,1184.0,148
23,2002,8041649.0,1135.6,141
24,2003,8058334.5,1093.7,136
25,2004,8075020.0,1099.5,136
26,2005,8091705.5,1138.0,141
27,2006,8108391.0,1069.0,132
28,2007,8125076.5,1114.0,137
29,2008,8141762.0,1098.0,135
30,2009,8158447.5,1007.5,123
31,2010,8175133.0,1039.0,127
32,2011,8284098.0,1021.0,123
33,2012,8361179.0,1009.1,121
34,2013,8422460.0,1006.1,119
35,2014,8471990.0,996.0,118
36,2015,8516502.0,1009.0,118
37,2016,8537673.0,1002.0,117
38,2017,8622698.0,990.2,115

In [5]:
max_gallons=np.max(nyc_water, axis =0)[2]

#used another stackoverflow link to find out how to use np.max
#https://stackoverflow.com/questions/33569668/numpy-max-vs-amax-vs-maximum

This link helped me find out how to refer to columns or rows in a data set like this!
https://stackoverflow.com/questions/22149584/what-does-axis-in-pandas-mean

In [6]:
print(max_gallons)
###max_gallons is an array by which only contains the maximum of the 0th axis (columns in this data set) 
##and which column (sorted by zero first index)

1512.0

How many calendar years are represented within this data set? (Hint: NumPy's shape command is one way to find this out!)

In [7]:
nyc_water.shape
#this will give me rows by columns

(39, 4)

The first value returned says '39' therefore if we assume that each row represents a unique year,
then that means 39 different years are represented in this data set!

What is the mean and standard deviation of the per capita daily water consumption?

In [8]:
average_per_capita_daily_h20_consumption = np.mean(nyc_water, axis=0)[3]
print(average_per_capita_daily_h20_consumption)

##found out how to use the np.mean function with this link!
##https://www.geeksforgeeks.org/numpy-mean-in-python/

160.30769230769232

In [9]:
std_deviation_per_capita_daily_h20_consumption = np.std(nyc_water, axis=0)[3]
print(std_deviation_per_capita_daily_h20_consumption)

31.51894330370624

What is the increase or decrease in population for year to year? Use NumPy's "diff" function to create an array of differences and save that to a variable called "pop_diff" then print that variable to the screen

In [10]:
#make a dummy list to get all of the differences!
pop_diff_initial = np.diff(nyc_water, axis=0) 

#make a new list deleting all of the other columns in the data, haha
pop_diff = np.delete(pop_diff_initial, [0, 2, 3], axis=1) 

#print the new list of just differences in population year by year.
print(pop_diff)

[[-30461. ]
 [ 17602. ]
 [ 19864. ]
 [ 72119. ]
 [ 53290. ]
 [ 39540. ]
 [ 45192. ]
 [ 23230. ]
 [ 11243. ]
 [ -9544. ]
 [ -8525. ]
 [ 38851. ]
 [ 54443. ]
 [ 77222. ]
 [ 64292. ]
 [ 62582. ]
 [ 64772. ]
 [ 75631. ]
 [ 84816. ]
 [ 89401. ]
 [ 60618. ]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [ 16685.5]
 [108965. ]
 [ 77081. ]
 [ 61281. ]
 [ 49530. ]
 [ 44512. ]
 [ 21171. ]
 [ 85025. ]]